In [1]:
'''
Determine the stronghold party-seats. A stronghold seat is one that is won by the
same party in all the elections.'''

'\nDetermine the stronghold party-seats. A stronghold seat is one that is won by the\nsame party in all the elections.'

In [134]:
import pandas as pd

In [150]:
data=pd.read_csv('/content/stack.csv')

In [154]:
data.head(2)

   Unnamed: 0 Election Year  Position  ...                  Party     AC name AC No
0        2386          2010         1  ...  Bharatiya Janta Party  Suryagarha   167
1        2387          2010         2  ...   Rashtriya Janata Dal  Suryagarha   167

[2 rows x 9 columns]

In [ ]:
''' A stronghold seat is one that is won by the same party in all the elections'''
''' so if we the party should win all elections from 2005 to 2015'''

In [152]:
data1[data1['Position']==1]

      Election Year  Position  ...     AC name  AC No
2386           2010         1  ...  Suryagarha    167
5841           2015         1  ...  Suryagarha    167
8372       2005-Oct         1  ...  Suryagarha    167
11229      2005-Feb         1  ...  Suryagarha    167

[4 rows x 8 columns]

In [153]:
res = data1.groupby(["Party"])["Position"].agg(lambda s: s.eq(1).all())#code

In [155]:
res[res]#output it shows result as janatadal

Party
Janata Dal (United)    True
Name: Position, dtype: bool